.deleteBtn {
  width: 60px;
  height: 20px;
  text-align: center;
  margin-left: 20px;
}

.contactList {
  text-align: center;
}

.contactList__item {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.contactList__itemText {
  justify-content: center;
  align-items: center;
}
